
<div class="row xs-center">
    <div class="col xs-12 md-10 lg-6">
        <div class="learning">
            <div class="learning__row-wrapper row">
                <div class="learning__row-title row col xs-12 xs-center">
                    <h2 class="learning__title">
                        {{ __scope.title_learning }}
                    </h2>
                </div>
            </div>
            <div class="learning__row-wrapper row">
                <div class="learning__text col xs-12 xs-center">
                    {{ __scope.text_learning }}
                </div>
            </div>
            <div class="learning__row-wrapper row">
                <div class="learning__btn col xs-12 xs-center">
                    <button class="btn" data-modal='{"name": "formDefault", "id": "form"}' onclick="yaCounter48293603.reachGoal('get_license'); return true;">
                        {{ __scope.btn_learning.text }}
                    </button>
                </div>
            </div>    

        </div>
    </div>

    <div class="col xs-12 md-10 lg-6">
        <div class="learning">
            <div class="learning__row-wrapper row">
                <div class="learning__row-title row col xs-12 xs-center">
                    <h2 class="learning__title">
                        {{ __scope.title_sez }}
                    </h2>
                </div>
            </div>
            <div class="learning__row-wrapper row">
                <div class="learning__text col xs-12 xs-center">
                    {{ __scope.text_sez }}
                </div>
            </div>
            <div class="learning__row-wrapper row">
                <div class="learning__btn col xs-12 xs-center">
                    <button class="btn" data-modal='{"name": "formDefault", "id": "form"}' onclick="yaCounter48293603.reachGoal('get_license'); return true;">
                        {{ __scope.btn_sez.text }}
                    </button>
                </div>
            </div>    

        </div>
    </div>

</div>